In [52]:
import os
import requests
import json
from IPython.display import JSON
import sqlite3 as sqlite
from sqlalchemy import create_engine
import sqlalchemy
import pandas as pd

In [186]:
foursquare_id = str(os.environ['FSID'])
foursquare_secret = str(os.environ['FSPW'])

In [126]:
foursquare_secret

'DN0041ODFBSAPVWJPWPRSIZ2IY504G5VC5Q0N4RUONPCIPPC'

In [46]:
v = "20200731"
ll='ll=49.2757,-123.1199'#Vancouver Yaletown
radius='&radius=5000'
CATEGORY_JPN='&categoryId=4bf58dd8d48988d111941735'
CATEGORY_GYM='&categoryId=4bf58dd8d48988d175941735'
CATEGORY_ICM='&categoryId=4bf58dd8d48988d1c9941735'
# CATEGORY_BAR='&categoryId=4bf58dd8d48988d116941735'


url_J = str("https://api.foursquare.com/v2/venues/search?"+ll+radius+CATEGORY_JPN+"&client_id="+foursquare_id+"&client_secret="+foursquare_secret+"&v="+v)
url_G = str("https://api.foursquare.com/v2/venues/search?"+ll+radius+CATEGORY_GYM+"&client_id="+foursquare_id+"&client_secret="+foursquare_secret+"&v="+v)
url_I = str("https://api.foursquare.com/v2/venues/search?"+ll+radius+CATEGORY_ICM+"&client_id="+foursquare_id+"&client_secret="+foursquare_secret+"&v="+v)
# url_B = str("https://api.foursquare.com/v2/venues/search?"+ll+radius+CATEGORY_BAR+"&client_id="+foursquare_id+"&client_secret="+foursquare_secret+"&v="+v)



res_J = requests.get(str(url_J))
res_G = requests.get(str(url_G))
res_I = requests.get(str(url_I))
# res_B = requests.get(str(url_B))


rescopy_J=(res_J.json()).copy()
rescopy_G=(res_G.json()).copy()
rescopy_I=(res_I.json()).copy()
# rescopy_B=(res_B.json()).copy()

print(url_J)

https://api.foursquare.com/v2/venues/search?ll=49.2757,-123.1199&radius=5000&categoryId=4bf58dd8d48988d111941735&client_id=T0FOV1B1LQR0M0VL405RZH4WNCQM3WYRPL1ESQCWF1XON2IP&client_secret=DN0041ODFBSAPVWJPWPRSIZ2IY504G5VC5Q0N4RUONPCIPPC&v=20200731

In [47]:
#Place1= restaurants
#Place2= GYM
#Place3= ICecream

In [187]:
def rating_machine(here):
    COL_N=[]
    COL_I=[]
    COL_R=[]
    COL_LC=[]
    for i in here["response"]['venues']:
        ID=i['id']
        URL_Rate='https://api.foursquare.com/v2/venues/'+ID+"?client_id="+foursquare_id+"&client_secret="+foursquare_secret+"&v="+v
        COL_N.append(i["name"])
        temp_requests=requests.get(str(URL_Rate)).json().copy()
        try:
            COL_R.append(temp_requests['response']['venue']['rating'])
        except:
            COL_R.append(0)
        try:
            COL_LC.append(temp_requests['response']['venue']['likes']['count'])
        except:
            COL_LC.append(0)
    J={'name':COL_N , 'rating': COL_R, 'count':COL_LC}
    df_J = pd.DataFrame(data=J)
        
    return df_J.sort_values(by= 'rating', ascending=False)

#for i in rescopy_J["response"]['venues']:
#    if 'Restaurant' in i['categories'][0]['name']:
#        Restaurant_list.append({i["name"]:i['id']})
#        
#    elif 'Brewery' in i['categories'][0]['name']:
#        Brewery_list.append({i["name"]:i['id']})
#        
#    elif 'Bar' in i['categories'][0]['name']:
#        Bar_list.append({i["name"]:i['id']})

In [136]:
rating_machine(rescopy_J)

                          name  rating  count
29                  Green Leaf     9.2     46
0                       Minami     9.1    243
17                       Raisu     9.0     48
9              Miku Restaurant     8.9    412
19                      Fujiya     8.8     98
13     Hokkaido Ramen Santouka     8.6    336
25                       Suika     8.5    150
6                 Yamato Sushi     8.4     85
22                Guu Original     8.4    204
18             Marutama Ra-men     8.2    179
12                 Ramen Danbo     8.2     71
14     Hokkaido Ramen Santouka     8.1     46
15                  Sushi Mura     7.9     38
27                  The Eatery     7.9    113
26     Zakkushi Charcoal Grill     7.8     55
16                       Shiro     7.8     56
11             Jinya Ramen Bar     7.7     72
8   Gyo Para Gyoza & Ramen Bar     7.7     10
21                   Sushi Den     7.6     59
10     Shabusen Yakiniku House     7.4    120
20    Masa Japanese Restaurant     7.4     13
24                     Kintaro     7.1    111
4            Ramen Takanotsume     6.9      6
23                  Kamei Baru     6.7     28
28           Gyoza Bar + Ramen     6.1     44
3                   Sushi Nova     0.0      1
1     Moltan Roll Bar And Sake     0.0      0
7                Manpuku Bento     0.0      2
5                    Tom Sushi     0.0      2
2                         Saku     0.0      6

In [188]:
fourgym2=rating_machine(rescopy_G).copy()

In [189]:
fourgym2

                                                 name  rating  count
17                        Equinox West Georgia Street     8.8     25
26                           The Edge Climbing Centre     8.8     10
25                                           The Hive     8.8     34
27             Vancouver Lawn Tennis & Badminton Club     8.7     14
20                                    Robert Lee YMCA     8.7    148
23                           Vancouver Aquatic Centre     8.4     38
14         GoodLife Fitness Vancouver Hemlock and 8th     8.2     10
19                     Kitsilano Community Centre Gym     7.7     31
21                             Kalev Fitness Solution     7.5     12
2                                      The Bar Method     7.4      9
3                                     Anytime Fitness     7.0      7
28                  John Braithwaite Community Centre     6.8      9
18                           Steve Nash Fitness World     6.6     27
22                           Steve Nash Fitness World     6.5     34
24                           Steve Nash Fitness World     5.4      7
0   Precision Athletics - Personal Trainer Vancouv...     0.0      5
15                         eBody Vancouver - Yaletown     0.0      0
16                                   Level 10 Fitness     0.0      2
1                                      Planet Fitness     0.0      0
13                                     Open Door Yoga     0.0      3
12                                        Climb Base5     0.0      0
11                                                F45     0.0      1
10                                         Gold's Gym     0.0      1
9                                   Elite Performance     0.0      2
8                                Orangetheory Fitness     0.0      0
7                                      Tantra Fitness     0.0      1
6                     iLoveKickboxing - Vancouver, BC     0.0      1
5                                Enhanced Performance     0.0      1
4                                            Fit4Less     0.0      6
29                      Douglas Park Community Centre     0.0      4

In [ ]:
fourice=rating_machine(rescopy_I).copy()

In [169]:
fourice

                           name  rating  count
0             Earnest Ice Cream     9.4    244
1             Earnest Ice Cream     9.1    249
2                        Mister     8.9     62
3       Rain or Shine Ice Cream     8.9    141
4               Bella Gelateria     8.9    387
5                 Rain Or Shine     8.8     60
6                La Casa Gelato     8.3    148
7                     Menchie's     8.1     43
8             Earnest Ice Cream     7.9     12
9          Marble Slab Creamery     7.8     37
10              Yaletown Gelato     7.7     25
11     Elephant Garden Creamery     7.7      6
12        Gelateria Dolce Amore     7.5     16
13          Tangram icecreamery     7.5     19
14         Marble Slab Creamery     7.5     18
15         D'oro Gelato e Caffè     7.4     25
16                Café Calabria     7.4     30
17                  Dairy Queen     7.3     14
18                     Cacao 70     7.3      7
19         Marble Slab Creamery     7.3      8
20         D'oro Gelato e Caffè     7.2     12
21  Dairy Queen / Orange Julius     7.2      7
22            Amato Gelato Cafe     7.0     15
23                  Yeti Yogurt     6.9      9
24            Buckets Ice Cream     6.9      6
25  Dairy Queen / Orange Julius     6.8      2
26                 Styo Dessert     6.8      8
27     GI Gelato & Coffee House     6.7      8
28         Soft Peaks Ice Cream     6.6     62
29               Mario's Gelati     6.6     30

In [73]:
YP_id = str(os.environ['YELPID'])
YP_secret = str(os.environ['YELPPW'])
YP_base='https://api.yelp.com/v3/businesses/search?'
latitude='&latitude='+'49.2757'
longitude='&longitude='+'-123.1199'
radius='&radius=5000'
categories_J='&categories=japanese'
categories_G='&categories=gyms'
categories_I='&categories=icecream'
headers={'Authorization':'Bearer '+YP_secret}
YP_URL_J=YP_base+latitude+longitude+radius+categories_J
YP_URL_G=YP_base+latitude+longitude+radius+categories_G
YP_URL_I=YP_base+latitude+longitude+radius+categories_I

YP_res_J = requests.get(YP_URL_J, headers=headers)
YP_res_G = requests.get(YP_URL_G, headers=headers)
YP_res_I = requests.get(YP_URL_I, headers=headers)

In [74]:
YJ=YP_res_J.json().copy()
YG=YP_res_G.json().copy()
YI=YP_res_I.json().copy()

In [87]:
def get_tables_yelp(M):
    COL_N=[]
    COL_R=[]
    COL_RC=[]
    for i in M['businesses']:
        COL_N.append(i['name'])
        COL_R.append((i['rating'])*2)
        COL_RC.append(i['review_count'])

        
    YEP={'name':COL_N , 'rating (2X scale)': COL_R, 'review_count':COL_RC}
    TABLE=pd.DataFrame(data=YEP).sort_values(by= 'rating (2X scale)', ascending=False)
    return(TABLE)

In [203]:
yelpjapan=get_tables_yelp(YJ).copy()

In [204]:
yelpgym=get_tables_yelp(YG).copy()

In [205]:
yelpice=get_tables_yelp(YI).copy()

In [246]:
yelpjapan.name.size+yelpice.name.size+yelpgym.name.size

60

In [227]:
def Wonho_recommend_score(input_df):
    try:
        input_df['popularity_multiplier']=1+(input_df['count'])/(input_df['count'].max())
    except:
        input_df['popularity_multiplier']=1+(input_df['review_count'])/(input_df['review_count'].max())
    
    try:
        input_df['Wonho_recommend_score']=(input_df['popularity_multiplier'])*(input_df['rating'])
    except:
        input_df['Wonho_recommend_score']=(input_df['popularity_multiplier'])*(input_df['rating (2X scale)'])
    return input_df

In [255]:
fs_List_of_order=['name','rating','popularity score(mean=1)','popularity_multiplier','Wonho_recommend_score']

In [265]:
yp_List_of_order=['name','rating (2X scale)','popularity score(mean=1)','popularity_multiplier','Wonho_recommend_score']

In [278]:
WONHO_FJ=Wonho_recommend_score(fourJapan).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,fs_List_of_order].reset_index(drop=True).head(10)

In [279]:
WONHO_FJ

,name,rating,popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Miku Restaurant,8.9,4.657121,2.000000,17.800000
1,Hokkaido Ramen Santouka,8.6,3.798041,1.815534,15.613592
2,Minami,9.1,2.746797,1.589806,14.467233
3,Guu Original,8.4,2.305953,1.495146,12.559223
4,Marutama Ra-men,8.2,2.023361,1.434466,11.762621
5,Suika,8.5,1.695554,1.364078,11.594660
6,Fujiya,8.8,1.107762,1.237864,10.893204
7,Green Leaf,9.2,0.519970,1.111650,10.227184
8,Yamato Sushi,8.4,0.960814,1.206311,10.133010
9,The Eatery,7.9,1.277317,1.274272,10.066748

In [280]:
WONHO_FI=Wonho_recommend_score(fourice).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,fs_List_of_order].reset_index(drop=True).head(10)

In [281]:
WONHO_FI

,name,rating,popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Bella Gelateria,8.9,6.789474,2.000000,17.800000
1,Earnest Ice Cream,9.4,4.280702,1.630491,15.326615
2,Earnest Ice Cream,9.1,4.368421,1.643411,14.955039
3,Rain or Shine Ice Cream,8.9,2.473684,1.364341,12.142636
4,La Casa Gelato,8.3,2.596491,1.382429,11.474160
5,Mister,8.9,1.087719,1.160207,10.325840
6,Rain Or Shine,8.8,1.052632,1.155039,10.164341
7,Menchie's,8.1,0.754386,1.111111,9.000000
8,Marble Slab Creamery,7.8,0.649123,1.095607,8.545736
9,Yaletown Gelato,7.7,0.438596,1.064599,8.197416

In [282]:
WONHO_FG=Wonho_recommend_score(fourgym2).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,fs_List_of_order].reset_index(drop=True).head(10)

In [283]:
WONHO_FG

,name,rating,popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Robert Lee YMCA,8.7,10.045249,2.000000,17.400000
1,The Hive,8.8,2.307692,1.229730,10.821622
2,Vancouver Aquatic Centre,8.4,2.579186,1.256757,10.556757
3,Equinox West Georgia Street,8.8,1.696833,1.168919,10.286486
4,Vancouver Lawn Tennis & Badminton Club,8.7,0.950226,1.094595,9.522973
5,The Edge Climbing Centre,8.8,0.678733,1.067568,9.394595
6,Kitsilano Community Centre Gym,7.7,2.104072,1.209459,9.312838
7,GoodLife Fitness Vancouver Hemlock and 8th,8.2,0.678733,1.067568,8.754054
8,Kalev Fitness Solution,7.5,0.814480,1.081081,8.108108
9,Steve Nash Fitness World,6.5,2.307692,1.229730,7.993243

In [284]:
WONHO_YJ=Wonho_recommend_score(yelpjapan).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,yp_List_of_order].reset_index(drop=True).head(10)
WONHO_YJ

,name,rating (2X scale),popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Miku,9.0,3.346275,2.000000,18.000000
1,Guu with Garlic,9.0,1.730449,1.517127,13.654144
2,Kingyo,9.0,1.569606,1.469061,13.221547
3,Marutama Ra-men,9.0,1.262710,1.377348,12.396133
4,Hokkaido Ramen Santouka,8.0,1.750786,1.523204,12.185635
5,Kintaro Ramen,8.0,1.460529,1.436464,11.491713
6,Guu Original Thurlow,8.0,1.377334,1.411602,11.292818
7,Ramen Danbo,9.0,0.807913,1.241436,11.172928
8,Minami,8.0,1.210945,1.361878,10.895028
9,Tom Sushi,10.0,0.192272,1.057459,10.574586

In [285]:
WONHO_YI=Wonho_recommend_score(yelpice).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,yp_List_of_order].reset_index(drop=True).head(10)
WONHO_YI

,name,rating (2X scale),popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Bella Gelateria,8.0,3.899632,2.000000,16.000000
1,Rain or Shine Ice Cream,9.0,1.523941,1.390791,12.517119
2,Earnest Ice Cream,9.0,1.514733,1.388430,12.495868
3,Earnest Ice Cream,8.0,1.970534,1.505313,12.042503
4,La Casa Gelato,8.0,1.809392,1.463991,11.711924
5,Rain or Shine Ice Cream,9.0,0.971455,1.249115,11.242031
6,Passione Gelato,10.0,0.290055,1.074380,10.743802
7,Bon Crepe,9.0,0.667587,1.171192,10.540732
8,Virtuous Pie,8.0,1.210866,1.310508,10.484061
9,Hot Cha Cafe,10.0,0.174954,1.044864,10.448642

In [286]:
WONHO_YG=Wonho_recommend_score(yelpgym).sort_values(by='Wonho_recommend_score', ascending=False).loc[:,yp_List_of_order].reset_index(drop=True).head(10)
WONHO_YG

,name,rating (2X scale),popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,Robert Lee YMCA,8.0,3.585657,2.000000,16.000000
1,CrossFit 604,10.0,1.394422,1.388889,13.888889
2,Barre Fitness,9.0,1.713147,1.477778,13.300000
3,Spin Society Cycling Studio,10.0,0.796813,1.222222,12.222222
4,Eastwood Cycle Sanctuary,9.0,1.274900,1.355556,12.200000
5,Kalev Fitness Solution,8.0,1.673307,1.466667,11.733333
6,Anytime Fitness,9.0,0.996016,1.277778,11.500000
7,Studeo,9.0,0.756972,1.211111,10.900000
8,CrossFit Kitsilano,10.0,0.278884,1.077778,10.777778
9,Cadence Cycling Studio,9.0,0.677291,1.188889,10.700000

In [287]:
engile=sqlalchemy.create_engine('mysql+pymysql://root:@')

In [291]:
e = create_engine('sqlite:///compare.db')
WONHO_FJ.to_sql(name='Japanese_Restaurant_Foursquare', con=e)
WONHO_YJ.to_sql(name='Japanese_Restaurant_Yelp', con=e)
WONHO_FI.to_sql(name='Icecream_Place_Foursquare', con=e)
WONHO_YI.to_sql(name='Icecream_Place_Yelp', con=e)
WONHO_FG.to_sql(name='Gym_Foursquare', con=e)
WONHO_YG.to_sql(name='Gym_Yelp', con=e)

In [293]:
sql = 'SELECT * FROM Japanese_Restaurant_Foursquare'

with create_engine('sqlite:///compare.db').connect() as con:
    df = pd.read_sql(sql, con)
df

,index,name,rating,popularity score(mean=1),popularity_multiplier,Wonho_recommend_score
0,0,Miku Restaurant,8.9,4.657121,2.000000,17.800000
1,1,Hokkaido Ramen Santouka,8.6,3.798041,1.815534,15.613592
2,2,Minami,9.1,2.746797,1.589806,14.467233
3,3,Guu Original,8.4,2.305953,1.495146,12.559223
4,4,Marutama Ra-men,8.2,2.023361,1.434466,11.762621
5,5,Suika,8.5,1.695554,1.364078,11.594660
6,6,Fujiya,8.8,1.107762,1.237864,10.893204
7,7,Green Leaf,9.2,0.519970,1.111650,10.227184
8,8,Yamato Sushi,8.4,0.960814,1.206311,10.133010
9,9,The Eatery,7.9,1.277317,1.274272,10.066748